#!/usr/bin/make -f
export DH_VERBOSE = 1

export PYBUILD_NAME=dnsmock

%:
	dh $@

override_dh_install: dnsmock
	dh_install bin/dnsmock /usr/bin
	dh_install etc /
	dh_install config/dnsmock.conf.sample /etc/dnsmock
	dh_install config/logger.conf /etc/dnsmock
	dh_install config/dnsmock.service /lib/systemd/system
	dh_install dnsmock /usr/lib/python3/dist-packages/
