[Unit]
Description=DNS Proxy Server
After=syslog.target network.target

[Service]
User=dnsmock
Group=dnsmock
Type=simple
WorkingDirectory=/var/log/dnsmock
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/dnsmock
ExecStop=/usr/bin/pkill -u dnsmock -G dnsmock -f "/usr/bin/dnsmock"

[Install]
WantedBy=multi-user.target
